.home{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    background-color: #001A2E;
}
.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10%;
}
 .left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .left{
    width: auto;
} */
.largetext{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}
.smalltext{
color: #fff;
font-weight: 300;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    color: #fff;
    font-size: 50px;
    text-align: center;
  }