.primary{
    background-color: #00A05A;
    border: none;
    color: #ffff;
    padding: 10px 20px;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 2px #00A05A;

}
.secondry{
  background: transparent;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}