.bg_001A2E{
    background-color: #001A2E;
    
   
}
.main{
    height: 100px;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 30;
}
nav{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f1f1f1; */
  }
.logo img{
    width: auto;
    height: 26px;
  } 

nav > ul> li{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
  margin-right: 10px;
  font-size: 19px;
  padding: 0 40px;
 
}
nav > ul{
    margin-right: 150px;
}

.button_div{
   min-width: 270px;
    display: flex;
justify-content: space-between;
align-items: center;
}


